<nav class="navbar navbar-expand-sm navbar-dark bg-secondary fixed-top">
    <div class="navbar-brand">
        <img src="assets/sothawofant-32.png" width="32" height="32" alt="">
    </div>
    <form class="form-inline">
        <button class="btn btn-outline-dark btn-sm" type="button" data-toggle="button"
                (click)="onSettingsClicked()">settings</button>
    </form>
</nav>
<app-settings *ngIf="settingsVisible"></app-settings>
<div class="row justify-content-center">

    <div class="card col-sm-8">
        <div class="card-body"><button class="btn btn-outline-dark btn-sm" (click)="onTest()">Backend Config</button> {{backendConfig}}</div>
    </div>

</div>
