<nav class="navbar navbar-expand-sm navbar-dark bg-secondary fixed-top">
    <div class="flex-fill d-flex">
        <img id="init" src="assets/sothawofant-32.png" width="32" height="32" alt="init"
             (click)="initialLoad()">

        <!-- hidden only on xs -->
        <button type="button" id="selected" class="btn btn-outline-dark btn-sm d-none d-sm-block"
                [class.active]="selectedTagsVisible"
                (click)="onSelectedTagsVisibleClicked()"
        >selected
        </button>
        <!-- visible only on xs -->
        <button type="button" id="selected-xs" class="btn btn-outline-dark btn-sm d-block d-sm-none"
                [class.active]="selectedTagsVisible"
                (click)="onSelectedTagsVisibleClicked()"
        >sel...
        </button>

        <!-- hidden only on xs -->
        <button type="button" id="available" class="btn btn-outline-dark btn-sm d-none d-sm-block"
                [class.active]="availableTagsVisible"
                (click)="onAvailableTagsVisibleClicked()"
        >available
        </button>
        <!-- visible only on xs -->
        <button type="button" id="available-xs" class="btn btn-outline-dark btn-sm d-block d-sm-none"
                [class.active]="availableTagsVisible"
                (click)="onAvailableTagsVisibleClicked()"
        >ava...
        </button>

        <input id="log" class="btn btn-outline-dark btn-sm ml-auto" type="image" data-toggle="button"
               (click)="onLogVisibleClicked()" src="assets/report.svg" alt="log">

        <input id="settings" class="btn btn-outline-dark btn-sm" type="image" data-toggle="button"
               (click)="onSettingsVisibleClicked()" src="assets/settings.svg" alt="settings">
    </div>
</nav>

<app-settings *ngIf="settingsVisible"></app-settings>

<app-tags *ngIf="selectedTagsVisible"
          header="selected tags" [tags]="selectedTags"
          (selected)="onSelectedTagsClicked($event)">

</app-tags>

<app-tags *ngIf="availableTagsVisible"
          header="available tags"
          [tags]="availableTags"
          (selected)="onAvailableTagsClicked($event)">

</app-tags>

<app-bookmark *ngFor="let bookmark of bookmarks"
              [bookmark]="bookmark"
              (deleted)="loadBookmarks()">
</app-bookmark>

<app-log *ngIf="logVisible"></app-log>

<div id="test" class="row justify-content-center">
    <div class="card col-sm-8">
        <div class="card-body">
            <button class="btn btn-outline-dark btn-sm" (click)="onTest()">Test</button>
            {{backendConfig}}
        </div>
    </div>
</div>
