.card {
    margin-top: 0.1rem;
}

.cardHeader {
    align-items: center;
}

.cardText {
    margin-bottom: 0;
}

.cardBodyTags {
    font-size: smaller;
}

.edit, .delete {
    margin-left: 0.5rem;
}
