<div class="row" id="settings">
    <div class="border-bottom col-sm-12">
        <form>
            <div class="form-group">
                <label for="ApiUrl">API URL</label>
                <input class="form-control" id="ApiUrl" placeholder="API URL"
                name="apiUrl" [(ngModel)]="apiUrl">
            </div>
            <div class="form-group">
                <label for="ApiKey">API Key</label>
                <input class="form-control" id="ApiKey" placeholder="API Key"
                name="apiKey" [(ngModel)]="apiKey">
            </div>
        </form>
    </div>
</div>
