<div class="card">
    <div class="card-header d-flex align-items-center">
        <span>{{bookmark.title}}</span>
        <input id="edit" class="btn btn-outline-secondary btn-sm ml-auto" type="image" width="32" height="32"
               src="assets/pencil.svg" (click)="onEdit()">
        <input id="delete" class="btn btn-outline-secondary btn-sm " type="image" width="32" height="32"
               src="assets/trashcan.svg" (click)="onDelete()">
    </div>
    <div class="card-body">
        <div class="card-text"><a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a></div>
        <div class="card-text tags">{{bookmark.joinedTags()}}</div>
    </div>
</div>
