<div class="row" >
  <div class="border-bottom col-sm-12" id="editor">
    <form>
      <div class="form-group">
        <label for="url">URL</label>
        <input class="form-control" id="url" placeholder="URL"
               name="url" [(ngModel)]="url">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" placeholder="Title"
               name="title" [(ngModel)]="title">
      </div>
      <div class="form-group">
        <label for="tags">Tags</label>
        <input class="form-control" id="tags" placeholder="Tags"
               name="tags" [(ngModel)]="tags">
      </div>
      <div id="buttons">
        <button class="btn btn-secondary" (click)="onOk()">Ok</button>
        <button class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
